In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic Operators

In [2]:
 %pip install pandas
 import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

Requirement already satisfied: pandas in c:\users\asif1\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asif1\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asif1\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asif1\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asif1\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\asif1\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
# Arithmetic operators example
a = 10
b = 3

# Addition
addition_result = a + b
print(f"Addition: {a} + {b} = {addition_result}")

# Subtraction
subtraction_result = a - b
print(f"Subtraction: {a} - {b} = {subtraction_result}")

# Multiplication
multiplication_result = a * b
print(f"Multiplication: {a} * {b} = {multiplication_result}")

# Division
division_result = a / b
print(f"Division: {a} / {b} = {division_result}")

# Floor Division
floor_division_result = a // b
print(f"Floor Division: {a} // {b} = {floor_division_result}")

# Modulus
modulus_result = a % b
print(f"Modulus: {a} % {b} = {modulus_result}")

# Exponentiation
exponentiation_result = a ** b
print(f"Exponentiation: {a} ** {b} = {exponentiation_result}")

Addition: 10 + 3 = 13
Subtraction: 10 - 3 = 7
Multiplication: 10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Floor Division: 10 // 3 = 3
Modulus: 10 % 3 = 1
Exponentiation: 10 ** 3 = 1000

# Python Assignment Operators

In [4]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [5]:
# Assignment operators example
a = 10
b = 3

# Addition Assignment
a += b
print(f"Addition Assignment: a += b -> a = {a}")

# Subtraction Assignment
a -= b
print(f"Subtraction Assignment: a -= b -> a = {a}")

# Multiplication Assignment
a *= b
print(f"Multiplication Assignment: a *= b -> a = {a}")

# Division Assignment
a /= b
print(f"Division Assignment: a /= b -> a = {a}")

# Floor Division Assignment
a = 10
a //= b
print(f"Floor Division Assignment: a //= b -> a = {a}")

# Modulus Assignment
a = 10
a %= b
print(f"Modulus Assignment: a %= b -> a = {a}")

# Exponentiation Assignment
a = 2
a **= b
print(f"Exponentiation Assignment: a **= b -> a = {a}")

# Bitwise AND Assignment
a = 5  # 101 in binary
b = 3  # 011 in binary
a &= b
print(f"Bitwise AND Assignment: a &= b -> a = {a} (binary: {bin(a)})")

# Bitwise OR Assignment
a = 5
b = 3
a |= b
print(f"Bitwise OR Assignment: a |= b -> a = {a} (binary: {bin(a)})")

# Bitwise XOR Assignment
a = 5
b = 3
a ^= b
print(f"Bitwise XOR Assignment: a ^= b -> a = {a} (binary: {bin(a)})")

# Left Shift Assignment
a = 5
b = 2
a <<= b
print(f"Left Shift Assignment: a <<= b -> a = {a} (binary: {bin(a)})")

# Right Shift Assignment
a = 16
b = 2
a >>= b
print(f"Right Shift Assignment: a >>= b -> a = {a} (binary: {bin(a)})")

Addition Assignment: a += b -> a = 13
Subtraction Assignment: a -= b -> a = 10
Multiplication Assignment: a *= b -> a = 30
Division Assignment: a /= b -> a = 10.0
Floor Division Assignment: a //= b -> a = 3
Modulus Assignment: a %= b -> a = 1
Exponentiation Assignment: a **= b -> a = 8
Bitwise AND Assignment: a &= b -> a = 1 (binary: 0b1)
Bitwise OR Assignment: a |= b -> a = 7 (binary: 0b111)
Bitwise XOR Assignment: a ^= b -> a = 6 (binary: 0b110)
Left Shift Assignment: a <<= b -> a = 20 (binary: 0b10100)
Right Shift Assignment: a >>= b -> a = 4 (binary: 0b100)

# Python Comparison Operators

In [6]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [7]:
# Comparison operators example
a = 5
b = 7

# Equal to
result = a == b
print(f"Is a equal to b? (a == b): {result}")

# Not equal to
result = a != b
print(f"Is a not equal to b? (a != b): {result}")

# Less than
result = a < b
print(f"Is a less than b? (a < b): {result}")

# Less than or equal to
result = a <= b
print(f"Is a less than or equal to b? (a <= b): {result}")

# Greater than
result = a > b
print(f"Is a greater than b? (a > b): {result}")

# Greater than or equal to
result = a >= b
print(f"Is a greater than or equal to b? (a >= b): {result}")

Is a equal to b? (a == b): False
Is a not equal to b? (a != b): True
Is a less than b? (a < b): True
Is a less than or equal to b? (a <= b): True
Is a greater than b? (a > b): False
Is a greater than or equal to b? (a >= b): False

In [8]:
# !=
a : int = 7
b : int = 7

print(a => b)

SyntaxError: invalid syntax (2966280906.py, line 5)

ASCII Code
```
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57
```

In [ ]:
ord('A')

In [ ]:
chr(65)

In [ ]:

a : str = 'A'
b : str = 'B'

print(b >= a)

In [ ]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

# Python Logical Operators

In [9]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [10]:
# Logical operators example
a = True
b = False

# Logical AND
result = a and b
print(f"a and b: {result}")

# Logical OR
result = a or b
print(f"a or b: {result}")

# Logical NOT
result_a = not a
result_b = not b
print(f"not a: {result_a}")
print(f"not b: {result_b}")

a and b: False
a or b: True
not a: False
not b: True

In [11]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

In [28]:
not True

False

In [12]:
name : str = "Qasim"
print(not name=="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

False

In [13]:
name : str = "Qasim"
print(name!="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"

False

# Python Identity Operators

In [14]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [15]:
# Identity operators example
a = [1, 2, 3]
b = a
c = [1, 2, 3]

# Identity test (is)
result1 = a is b
result2 = a is c
print(f"a is b: {result1}")
print(f"a is c: {result2}")

# Negated identity test (is not)
result3 = a is not b
result4 = a is not c
print(f"a is not b: {result3}")
print(f"a is not c: {result4}")

a is b: True
a is c: False
a is not b: False
a is not c: True

In [16]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140727116252240
140727116252240

In [18]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140727116252240
2168942683952

False

In [19]:
x is z

True

In [20]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140727116252240
140727116252240

False

# Python Membership Operators

In [21]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [22]:
# Membership operators example
fruits = ["apple", "banana", "cherry"]

# Membership test (in)
result1 = "banana" in fruits
result2 = "grape" in fruits
print(f"'banana' in fruits: {result1}")
print(f"'grape' in fruits: {result2}")

# Negated membership test (not in)
result3 = "banana" not in fruits
result4 = "grape" not in fruits
print(f"'banana' not in fruits: {result3}")
print(f"'grape' not in fruits: {result4}")

'banana' in fruits: True
'grape' in fruits: False
'banana' not in fruits: False
'grape' not in fruits: True

In [23]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [24]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [25]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [26]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [27]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

False

In [29]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

True

# Python Membership Operators

In [30]:
table[6]

,Operator,Name,Description,Example,Try it
0,&,AND,Sets each bit to 1 if both bits are 1,x & y,Try it »
1,|,OR,Sets each bit to 1 if one of two bits is 1,x | y,Try it »
2,^,XOR,Sets each bit to 1 if only one of two bits is 1,x ^ y,Try it »
3,~,NOT,Inverts all the bits,~x,Try it »
4,<<,Zero fill left shift,Shift left by pushing zeros in from the right ...,x << 2,Try it »
5,>>,Signed right shift,Shift right by pushing copies of the leftmost ...,x >> 2,Try it »

In [31]:
# Bitwise operators example
a = 5  # Binary: 0101
b = 3  # Binary: 0011

# Bitwise AND
result1 = a & b  # Binary: 0001
print(f"Bitwise AND (a & b): {result1}")

# Bitwise OR
result2 = a | b  # Binary: 0111
print(f"Bitwise OR (a | b): {result2}")

# Bitwise XOR
result3 = a ^ b  # Binary: 0110
print(f"Bitwise XOR (a ^ b): {result3}")

# Bitwise NOT
result4 = ~a  # Binary: 11111111111111111111111111111010 (2's complement)
print(f"Bitwise NOT (~a): {result4}")

# Left Shift
result5 = a << 2  # Binary: 10100 (Shifted 2 bits to the left)
print(f"Left Shift (a << 2): {result5}")

# Right Shift
result6 = a >> 2  # Binary: 0001 (Shifted 2 bits to the right)
print(f"Right Shift (a >> 2): {result6}")

Bitwise AND (a & b): 1
Bitwise OR (a | b): 7
Bitwise XOR (a ^ b): 6
Bitwise NOT (~a): -6
Left Shift (a << 2): 20
Right Shift (a >> 2): 1

In [32]:
uinput not in names

True

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

## PEMDAS

In [33]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

- **P**arentheses/**B**rackets
- **E**xponents (ie Powers and Square Roots, etc.)/**O**rders (ie Powers and Square Roots, etc.)
- **MD** Multiplication and Division (left-to-right)
- **AS** Addition and Subtraction (left-to-right)

Given the expression:

\[ 3 + 2 - 2 \times 4 \div 2 + 2 \]

Let's solve it step by step:

1. **Multiplication and Division**:
\[ 2 \times 4 = 8 \]
\[ 8 \div 2 = 4 \]

Replacing these values in the expression, we get:

\[ 3 + 2 - 4 + 2 \]

2. **Addition and Subtraction** (from left to right):
\[ 3 + 2 = 5 \]
\[ 5 - 4 = 1 \]
\[ 1 + 2 = 3 \]

So, the final answer is:

\[ 3 \]

In [34]:
print((6 + 3) - (6 + 3))

0

In [35]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [36]:


# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [37]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

In [38]:
a, b, c = ('qasim', 7, 3.0)
print(a)
print(b)
print(c)

qasim
7
3.0

In [39]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [40]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [41]:
2 * 2
"a" * 3

'aaa'

In [42]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [43]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [45]:
import this